.contactFormSection {
  padding: 30px 0;
  background: var(--primary-green);
  text-align: center;
}

/* Заголовок */
.sectionTitle h2 {
  font-family: "Source Serif Pro", serif;
  font-size: 42px;
  margin-bottom: 12px;
  color: var(--beige-light);
}

.sectionTitle p {
  font-size: 18px;
  color: var(--beige-light);
  margin-bottom: 40px;
}

/* Обертка */
.contactFormWrapper {
  max-width: 620px;
  margin: 0 auto;
}

/* Форма */
.contactForm {
  display: grid;
  gap: 20px;
  background: rgba(255, 255, 255, 0.144);
  padding: 32px;
  border-radius: 12px;
  border: 1px solid #a3a3a3;
  box-shadow: var(--shadow);
  text-align: left;
}

/* Группа */
.formGroup {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.formGroup label {
  font-weight: 600;
  color: var(--primary-green);
}

.formGroup input,
.formGroup select {
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #d9d6ce;
  background: var(--white);
  font-size: 15px;
  outline: none;
  transition: 0.2s;
}

.formGroup input:focus,
.formGroup select:focus {
  border-color: var(--primary-green);
  box-shadow: 0 0 0 2px rgba(10, 89, 51, 0.15);
}

/* Кнопка */
.submitBtn {
  margin-top: 6px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  justify-content: center;
}

/* Примечание */
.privacyNote {
  display: flex;
  gap: 1px;
  text-align: center;
  margin-top: 6px;
  font-size: 12px;
  color: var(--beige-light);
}
.buttomBox {
  display: flex;
  justify-content: center;
}
.errorMessage {
  color: rgba(252, 117, 117, 0.767);
  margin-bottom: 8px;
}
/* Мобильная адаптивность */
@media (max-width: 600px) {
  .contactForm {
    padding: 22px;
  }
  .sectionTitle h2 {
    font-size: 32px;
  }
}
