header {
  background-color: var(--white);
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid rgb(221, 221, 221);
  border-radius: 0px 0px 8px 8px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-icon {
  width: 90px;
  height: 90px;
  background: var(--white);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.custom-line {
  margin-top: 0px;
  border-bottom: none;
}
.logo-icon img {
  max-width: 80px;
}

.logo-text {
  font-family: "Source Serif Pro", serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-green);
}

.logo-text span {
  color: var(--gray-dark);
}

/* Навигация */

nav ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

nav ul li {
  margin-left: 12px;
}

nav ul li a {
  text-decoration: none;
  color: var(--gray-dark);
  font-size: 20px;

  font-weight: 500;
  transition: var(--transition);
  font-family: "Inter", sans-serif;
}

nav ul li a:hover {
  color: var(--primary-green);
}

/* Мобильное меню */

.mobile-menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: var(--gray-dark);
  cursor: pointer;
  z-index: 1001;
}

@media (max-width: 768px) {
  .mobile-menu-btn {
    display: block !important;
    background: none;
    border: none;
    font-size: 26px;
    color: var(--gray-dark);
    cursor: pointer;
    z-index: 1001;
  }
  .custom-line {
    margin-top: 8px;
    border-bottom: 1px solid rgba(160, 160, 160, 0.425);
  }
  nav {
    display: none;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: auto; /* важный фикс: НЕ растягиваем на весь экран */
    z-index: 1000;
  }

  nav.active {
    display: block; /* просто показываем, без flex-растяжения */
  }

  nav ul {
    display: grid;
    gap: 10px;
    width: 90%;
    max-width: 400px;
    background: var(--white);
    border: 1px solid rgb(182, 182, 182);
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto; /* центрируем */
    box-shadow: var(--shadow);
  }
}
